<div class="w-100 py-3">
    <div class="row px-3 mb-2">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <div class="w-100 d-flex flex-lg-row flex-sm-row flex-md-row flex-column justify-content-center align-items-center">
                 <input type="text" class="form-control px-3 py-2" [(ngModel)]="bookSearch" placeholder="Search for better result"> 
                 &nbsp;&nbsp;&nbsp; <button class="btn-search px-3 py-2" (click)="getBookData(bookSearch)"><i class="material-icons">search</i>&nbsp;Search</button>
             </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        </div>
    </div>
    <div class="w-100 hp-70"></div>
    <div class="row px-3 mb-2">
            <div class="col-12">
               <h1 class="mb-3 f-22 fw-600" style="color: var(--clr-6f6f6f);">Popular Books</h1>
            </div>
            <div class="col-12 w-100 slider">
               <div class="w-100  slides">
                  <div class="book-card p-3 mr-2 pointer" *ngFor="let book of popularBookData; let i=index" (click)="gotoBookDetails(book)">
                     <div class="w-100 text-center d-flex justify-content-center align-items-center mx-auto">
                        <img src="{{book.image}}" class="book-image">
                     </div>
                     <div class="w-100 mt-2 text-left">
                          <h2 class="f-20 fw-500 mb-2">{{book.name}}</h2>
                     </div>
                     <div class="w-100 mt-2 text-left mb-3">
                          <p class="f-16 description-tag">{{book.description}}</p>
                     </div>
               </div>
               </div>
            </div>
    </div>
    <div class="w-100 hp-50"></div>
    <div class="row px-3 mb-2">
        <div class="col-12">
           <h1 class="mb-3 f-22 fw-600" style="color: var(--clr-6f6f6f);">Resulted Books</h1>
        </div>
        <div class="col-12 w-100 slider">
           <div class="row w-100 vertical-slider">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-3" *ngFor="let book of resultedBookData; let i=index" (click)="gotoBookDetails(book)">
                <div class="book-card p-3 mr-2 pointer" >
                    <div class="w-100 text-center d-flex justify-content-center align-items-center mx-auto">
                       <img src="{{book.image}}" class="book-image">
                    </div>
                    <div class="w-100 mt-2 text-left">
                         <h2 class="f-20 fw-500 mb-2">{{book.name}}</h2>
                    </div>
                    <div class="w-100 mt-2 text-left mb-3">
                         <p class="f-16 description-tag">{{book.description}}</p>
                    </div>
              </div>
            </div>
            
           </div>
        </div>
</div>

    <div class="row w-100">
        <ng-template #content let-modal>
            <div class="modal-header p-2">
                <h3 class="modal-title">Add Book Information</h3>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body py-3">
              <div class="w-100">
                <div class="row">
                    <div class="col-12">
                        <div class="w-100 mt-3">
                            <label for="bookName" class="mb-2 f-18">Book Name</label>
                            <input type="text" class="form-control py-2 px-3" name="bookName">
                         </div>
                        <div class="w-100 mt-3">
                            <label for="authorName" class="mb-2 f-18">Author Name</label>
                            <input type="text" class="form-control py-2 px-3" name="authorName" >
                         </div>
                        <div class="w-100 mt-3">
                            <label for="description" class="mb-2 f-18">Description</label>
                            <textarea class="form-control py-2 px-3" name="description" id="" cols="30" rows="5" ></textarea>
                         </div>
                        <div class="w-100 mt-3 text-center">
                            <button class="px-3 py-2 sbmit-btn" >Submit</button>
                         </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer p-3">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
